.svelte-kit
alembic.ini
node_modules/
__pycache__/
*.pyc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env
target/
demos/
examples/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

*.db
.vercel
Secrets.toml