.error {
  color: red;
}
.message {
  height: 50px;
  margin-top: 10px;
}
.btn-width {
  width: 100px;
}
.btn-width-sm {
  width: 32px;
}
a {
  text-decoration: none;
}
.bi-app {
  content: "\2122";
  color: transparent !important;
}
